body {
    background-color: blue;
}

.imgs-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: auto;
    grid-gap: 2rem;
    margin-right: 30px;
    margin-left: 30px;
}

.imgs-container {
    justify-self: center;
}

.img {
    width: 100%;
}

form {
    margin: 5px 0px 20px 30px;
}

h1 {
    text-align: center;
}
