body {
    background-color: blue;
}

.imgs-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: auto;
    grid-gap: 2rem;
    margin-right: 30px;
    margin-left: 30px;
}

.img-container {
    width: 300px;
    justify-self: center;
    height: 300px;
    overflow: hidden;
    text-align: center;
    background: white;
}

.img {
    width: 100%;
    height: 200px;
    overflow: hidden;
    object-fit: cover;
}

form {
    margin: 5px 0px 20px 30px;
}

h1 {
    text-align: center;
}

.item {
    border: yellow;
}

.component {
    position: fixed;
    background: lightblue;
    top: 30px;
    bottom: 30px;
    left: 30px;
    right: 30px;
}
